@page "/fetchdata"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inherits FetchDataBase

<PageTitle>Timestamp Generator</PageTitle>

<MudContainer>
    <MudText Typo="Typo.h3" Align="Align.Center" GutterBottom="true">Timestamp Generator</MudText>
    <MudText Align="Align.Center" Typo="Typo.body1" GutterBottom="true">Create timestamps you can then add
        to your
        YouTube video descriptions.</MudText>
    <MudText Class="pa-4" Align="Align.Center"
        Color="@(hubConnection.State.ToString() is "Connected" ? MudBlazor.Color.Success : MudBlazor.Color.Error)">
        @hubConnection.State</MudText>

    <MudGrid>

        <MudItem xs="12">

            <MudPaper Class="d-flex align-center flex-grow-1 gap-4 pa-3" Elevation="0">

                <MudTextField @bind-Value="VideoURL" Label="Video URL" Variant="Variant.Text"></MudTextField>
                <MudButton OnClick="GetTimestamps" Variant="Variant.Filled" Color="Color.Secondary">
                    <MudText>Generate</MudText>
                </MudButton>
            </MudPaper>

        </MudItem>
        <MudItem xs="12">

            <MudSimpleTable Hover="true" Dense="true" FixedHeader="true" Style="@(true?"height:300px;":"")">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Summary</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var timestamp in timestamps)
                    {
                        <tr>

                            <td>@timestamp.time.Split('.')[0]</td>
                            <td>@timestamp.summary</td>
                        </tr>
                    }
                </tbody>
            </MudSimpleTable>

        </MudItem>
    </MudGrid>
</MudContainer>


@code {
    public string VideoURL { get; set; }
    public async void GetTimestamps()
    {
        await
        Http.GetAsync($"http://localhost:7071/api/DurableFunctionsOrchestrationCSharp1_HttpStart?videoUrl={VideoURL}");
    }
}